@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
	padding: 20px 20px;
    width: 600px;
}

div.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

div.container h1 {
	color: darkviolet;
	padding-bottom: 10px;
}

div.container2 {
	padding-top: 10px;
	padding-bottom: 10px;
}

div.container2 h4 {
	padding-top: 10px;
	padding-bottom: 10px;
}

div.container2 p {
	padding-top: 10px;
	padding-bottom: 10px;
}

div.container p {
	padding-bottom: 10px;
}

div.inner_box {
	display: flex;
	flex-direction: row;
}

.header {
	color: black;
	font-size: 1.4rem;
	font-weight: 600;
}

.buttonrow {
	width: inherit;
	display: flex;
	justify-content: flex-end;
}


table {
	min-width: 100%;
}

td {
	padding-bottom: 20px;	
}

.index {
    border-right: solid 2px black; 
	border-left: solid 2px black;
	border-bottom: solid 2px black;
	border-collapse: collapse;
}

.index td {
    border-right: solid 2px black; 
	border-collapse: collapse;
	padding: 5px;
}
	

.index tr:nth-child(even) { 
   background-color: #f2f2f2; 
   padding: 10px; 
} 

.index th {
	background-color: darkgrey;
	border-right: solid 2px black; 
	border-top: solid 2px black;
	border-collapse: collapse;
}

.top1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}

input[type=submit] {
    width: 80px;
    color: black;
    background: white;
    font-size: 16px;
    padding: 5px 5px;
    border-color: black;
    box-shadow: 5px 5px black;
}
