@charset "UTF-8";

/* GLOBAL/RESET */

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6edc6;
    font-family: 'Roboto', sans-serif;
    display: flex;
	justify-content: center;
	align-items: center;	
}

.error-input {
    border: 2px dashed black;
    margin-left: 1px;
}

.error-messages {
    color: #b94a48;
    background: white;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    overflow-x: auto;
    font-size: 0.7rem;
    border: 2px dashed black; 
}

/* MAIN CONTAINER SETTINGS */

div.container {
	width: fit-content;
	margin-top: 5vh;
}

div.container h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.3rem;
    font-family: 'Life Savers', cursive;
	padding: 10px;
	color: white;
}

div.container p {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
    font-family: 'Life Savers', cursive;
	color: white;
	padding-bottom: 10px;
}

div.container p.register_line {
	padding-top: 5px;
	width: fit-content;
	color: #cc5b28;
	font-size: 0.9rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.container a {
	color: #cc5b28;
	font-family: 'Life Savers', cursive;
	font-size: 0.9rem;
}

/* INDEX AND REGISTRATION */

div.index_logo {
	padding-bottom: 3vh;
}

img#logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 9rem;
}

div.index_box {
	
	background-color: #cc5b28;
	width: fit-content;
	height: fit-content;
	padding: 3vh 2vh;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;   
}

/* MAIN PAGE */

.table1 {
	background-color: #cc5b28; 
    font-family: 'Life Savers', cursive; 
 	padding: 10px;
 	color: white;
}

.table1 td {
	background-color: #cc5b28; 
    font-family: 'Life Savers', cursive; 
 	padding: 10px;
 	color: white;
}

.table2 {
	background-color: #cc5b28; 
    font-family: 'Life Savers', cursive; 
 	padding: 10px;
 	color: white;
 	border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;  
    
}

.table2 th {
 	color: white; 
 	background: #cc5b28; 
 	font-family: 'Life Savers', cursive; 
 	border: none;
}

.table2 td {
    font-family: 'Life Savers', cursive; 
 	padding: 10px;
 	border-collapse:collapse;
}

.table2 tr {
	background-color: white;
    font-family: 'Life Savers', cursive; 
 	padding: 10px;
 	color: #cc5b28;
 	border-collapse:collapse;
}

.buttonrow {
 	width: inherit;
 	display: flex;
 	justify-content: flex-end;
 	padding-top: 10px;
 	padding-bottom: 10px;
}

/* BUTTON SETTINGS */

input[type=submit] {
     width: 5rem;
     color: black;
     background: #f6edc6;
     font-family: 'Life Savers', cursive;
     font-size: 16px;
     padding: 5px 5px;
     border-color: black;
     box-shadow: 5px 5px black;
}

input[type=submit]:hover,
input[type=submit]:focus {
  opacity: 0.95;
  outline: 0;
}

input[type=submit]:active {
	box-shadow: none;
  	position: relative;
  	top: 0.125rem;
}

.form input[type="text"] {
      width:100%;
      box-sizing:border-box;
    }

/* Main site specific */

div.main_box {
	
	background-color: #cc5b28;
	width: fit-content;
	height: fit-content;
	padding: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 20px;
}

div.main_box a {
	display: flex;
	font-family: 'Life Savers', cursive;
	font-size: 0.9rem;
	color: white;	
	justify-content: flex-end;
}

/* #log-reg tr, td { */
/* 	background-color: #cc5b28; */
/*     font-family: 'Life Savers', cursive; */
/* 	padding: 10px; */
/* 	color: red; */
/* } */

/* #index th { */
/* 	color: white; */
/* 	background: #cc5b28; */
/* 	font-family: 'Life Savers', cursive; */
/* 	padding: 10px; */
/* } */

/* #index tr, td { */
/* 	background: white; */
/* 	color: #cc5b28; */
/* 	font-family: 'Life Savers', cursive; */
/* 	padding: 10px; */
/* } */

/* #add td { */
/* 	background: #cc5b28; */
/*     font-family: 'Life Savers', cursive; */
/* 	padding: 10px; */
/* 	color: white; */
/* } */

/* div.container2 { */
/* 	padding-top: 10px; */
/* 	padding-bottom: 10px; */
/* } */

/* div.container2 h4 { */
/* 	padding-top: 10px; */
/* 	padding-bottom: 10px; */
/* } */

/* div.container2 p { */
/* 	padding-top: 10px; */
/* 	padding-bottom: 10px; */
/* } */

/* div.container p { */
/* 	padding-bottom: 10px; */
/* } */

/* div.inner_box { */
/* 	display: flex; */
/* 	flex-direction: row; */
/* } */

/* .header { */
/* 	color: black; */
/* 	font-size: 1.4rem; */
/* 	font-weight: 600; */
/* } */




/* table { */
/* 	min-width: 100%; */
/* } */

/* td { */
/* 	padding-bottom: 20px;	 */
/* } */

/* .index { */
/*     border-right: solid 2px black;  */
/* 	border-left: solid 2px black; */
/* 	border-bottom: solid 2px black; */
/* 	border-collapse: collapse; */
/* } */

/* .index td { */
/*     border-right: solid 2px black;  */
/* 	border-collapse: collapse; */
/* 	padding: 5px; */
/* } */
	

/* .index tr:nth-child(even) {  */
/*    background-color: #f2f2f2;  */
/*    padding: 10px;  */
/* }  */

/* .index th { */
/* 	background-color: darkgrey; */
/* 	border-right: solid 2px black;  */
/* 	border-top: solid 2px black; */
/* 	border-collapse: collapse; */
/* } */

/* .top1 { */
/* 	display: flex; */
/* 	justify-content: space-between; */
/* 	align-items: center; */
/* } */

/* .top2 { */
/* 	display: flex; */
/* 	justify-content: space-between; */
/* 	align-items: center; */
/* 	padding-bottom: 20px; */
/* } */


